# ------------------------------------------------------------------
# PORT
# ------------------------------------------------------------------
PORT=3001

# ------------------------------------------------------------------
# POSTGRESQL
# ------------------------------------------------------------------
PGUSER=root
PGPASSWORD=root
PGHOST=localhost
PGPORT=5432
PGDATABASE=nutech